Repository openshift-pipelines/pipelines-as-code, pull requests merged in 2025-09, with the labels that each got.

#2230 feat: Add check user permission step in e2e workflow
  .github/workflows/e2e.yaml
Labels: feature, security, github_actions, e2e, acl

#2247 Revert on-path-change on pr merge in bitbucket
  pkg/provider/bitbucketdatacenter/parse_payload.go
  pkg/provider/bitbucketdatacenter/parse_payload_test.go
  test/bitbucket_datacenter_pull_request_test.go
  test/bitbucket_datacenter_push_test.go
  test/pkg/bitbucketdatacenter/pr.go
  test/pkg/bitbucketdatacenter/setup.go
  test/pkg/options/options.go
Labels: providers, go, fix, bitbucket-datacenter

#2250 chore: ensure tmp dir for tests
  Makefile
Labels: testing, fix, optimization

#2253 fix: Improve GitLab commit status handling
  docs/content/docs/guide/repositorycrd.md
  docs/static/images/gitlab-pipelines-tab.png
  pkg/provider/gitlab/gitlab.go
  pkg/provider/gitlab/gitlab_test.go
  test/gitlab_merge_request_test.go
  test/pkg/scm/scm.go
Labels: documentation, fix, gitlab

#2259 chore: Add new points in AI template for PR
  .github/pull_request_template.md
Labels: enhancement, doc, cleanup

#2258 fix: increase number of lines of logs from pac-controller
  test/github_pullrequest_privaterepository_test.go
Labels: go, fix, e2e
